{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 version", "ie >= 11"]
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}