.main-title {
    margin-bottom: 2rem;
    @include font('SCoreDream', 900);
    font-size: 4.8rem;
    font-style: italic;
    text-align: center;
    text-decoration: underline;

    &:first-child {
        padding-top: 2rem;
    }

    @media (max-width: 720px) {
        font-size: 4rem;
    }
}

a.link-text,
button.link-text {
    color: #a1a1a1;
    text-decoration: underline;
}

.txt-mark {
    $target: ':not(ul):not(ol), >li, >dd';

    &#{$target} {
        position: relative;
        padding-left: 0.8rem;

        &+& {
            margin-top: 0.4rem;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0.6em;
            left: 0;
            width: 0.3rem;
            height: 0.3rem;
        }

        &.dot {
            &:before {
                background: #222;
                border-radius: 50%;
            }
        }
    }
}