@import 'reset';
@import 'fonts';
@import 'layout';
@import 'text';
@import 'form';
@import 'modal';
@import 'accordion';
@import 'tab';

@import 'guide';

// ir
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}